@using KD.Infrastructure.ViewModels.Objects
@implements IAsyncDisposable
@inherits FluxorComponent

@if (!NetworkPolicyState.Value.IsLoading)
{
    if (NetworkPolicyState.Value.TabMapping.ContainsKey(Tab))
    {
        var itemsView = NetworkPolicyState.Value.TabMapping[Tab];
        <GenericViewHeader Label="Network Policies" LastUpdate="@itemsView.LastUpdate">
        </GenericViewHeader>
        <MudDataGrid Items="@(itemsView.Items)" Filterable="true" SortMode="@SortMode.Single" Groupable="false" T="NetworkPolicyViewModel" Dense="true">
            <Columns>
                <TemplateColumn Title="Name">
                    <CellTemplate>
                        <a onclick="@(() => NameClick(context.Item))">@context.Item.Name</a>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="p => p.Created" />
                <TemplateColumn Title="Policy Types">
                    <CellTemplate>
                        @{
                            var policyTypes = string.Join(", ", context.Item.PolicyTypes);
                            <div>@policyTypes</div>
                        }
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }
}
else
{
    <MudProgressCircular Indeterminate="true" />
}

@code {
    private bool IsDisposed;
    private CancellationTokenSource CancellationTokenSource { get; set; } = new();

    [Inject]
    public IState<NetworkPolicyViewState> NetworkPolicyState { get; set; }

    [Parameter]
    public required Tab Tab { get; set; }

    [Inject]
    public IDispatcher Dispatcher { get; set; }

    private void NameClick(NetworkPolicyViewModel viewModel)
    {
        Dispatcher.Dispatch(new OpenPropertiesAction(viewModel, ObjectType.NetworkPolicy, Tab, CancellationTokenSource.Token));
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new FetchKubernetesNetworkPolicyAction(Tab, CancellationTokenSource.Token));
    }

    protected override ValueTask DisposeAsyncCore(bool disposing)
    {
        if (!IsDisposed)
        {
            IsDisposed = true;

            if (disposing)
            {
                CancellationTokenSource.Cancel();
            }
        }

        return base.DisposeAsyncCore(disposing);
    }
}