@inherits BaseProperty

<MudElement HtmlTag="div">
    @{
        var clusterRoleBinding = State.Value.Property?.Item?.ClusterRoleBinding;

        if (clusterRoleBinding != null)
        {
            <PropertyHeader T="ClusterRoleBindingPropertyViewModel" ViewModel="State.Value.Property?.Item" />
            <MudExpansionPanels>
                <MudExpansionPanel Text="Properties" Expanded="true" Dense="true" Gutters="false" Class="kd-heading">
                    <MudSimpleTable Dense="true">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>@clusterRoleBinding.Metadata.Name</td>
                            </tr>
                            <tr>
                                <td>Namespace</td>
                                <td>@clusterRoleBinding.Metadata.NamespaceProperty</td>
                            </tr>
                            <tr>
                                <td>Created</td>
                                <td>@clusterRoleBinding.Metadata.CreationTimestamp</td>
                            </tr>
                            <tr>
                                <td>Labels</td>
                                <td><K8sLabels Name="Labels" Labels="@clusterRoleBinding.Metadata.Labels" /></td>
                            </tr>
                            <tr>
                                <td>Annotations</td>
                                <td><K8sLabels Name="Annotations" Labels="@clusterRoleBinding.Metadata.Annotations" /></td>
                            </tr>
                        </tbody>
                    </MudSimpleTable>
                </MudExpansionPanel>
            </MudExpansionPanels>
        }
    }
</MudElement>

