@using KD.Infrastructure.ViewModels.Objects
@implements IAsyncDisposable
@inherits FluxorComponent

@if (!ConfigMapState.Value.IsLoading)
{
    if (ConfigMapState.Value.TabMapping.ContainsKey(Tab))
    {
        var itemsView = ConfigMapState.Value.TabMapping[Tab];
        <GenericViewHeader Label="Config Maps" LastUpdate="@itemsView.LastUpdate">
        </GenericViewHeader>
        <MudDataGrid Items="@(itemsView.Items)" Filterable="true" SortMode="@SortMode.Single" Groupable="false" T="ConfigMapViewModel" Dense="true">
            <Columns>
                <TemplateColumn Title="Name">
                    <CellTemplate>
                        <a onclick="@(() => NameClick(context.Item))">@context.Item.Name</a>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="p => p.Created" />
                <TemplateColumn Title="Keys">
                    <CellTemplate>
                        @foreach(var key in context.Item.Keys)
                        {
                            <div>@key</div>
                        }
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }
}
else
{
    <MudProgressCircular Indeterminate="true" />
}

@code {
    private bool IsDisposed;
    private CancellationTokenSource CancellationTokenSource { get; set; } = new();

    [Inject]
    public IState<ConfigMapViewState> ConfigMapState { get; set; }

    [Parameter]
    public required Tab Tab { get; set; }

    [Inject]
    public IDispatcher Dispatcher { get; set; }

    private void NameClick(ConfigMapViewModel viewModel)
    {
        Dispatcher.Dispatch(new OpenPropertiesAction(viewModel, ObjectType.ConfigMap, Tab, CancellationTokenSource.Token));
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new FetchKubernetesConfigMapAction(Tab, CancellationTokenSource.Token));
    }

    protected override ValueTask DisposeAsyncCore(bool disposing)
    {
        if (!IsDisposed)
        {
            IsDisposed = true;

            if (disposing)
            {
                CancellationTokenSource.Cancel();
            }
        }

        return base.DisposeAsyncCore(disposing);
    }
}